<h1>InList</h1>

<!-- Add Item Form -->
<%= form_for @item do |f| %>

  <%= f.text_field :name, placeholder: 'item name' %>

  <%= f.text_field :tag_list, placeholder: 'tags' %>

  <%= f.submit 'Add Item' %>

<% end %>


<!-- Divider -->
<hr><br>


<!-- Item List -->
<h1>Items</h1>

<ul>
<% @items.each do |i| %>

  <li>
    <%= i.name %><br>
    [ <%= i.tag_list %> ]
  </li>

<% end %>
</ul>


<!-- Item List with Tag '33' -->
<h1>Items with Tag '33'</h1>

<ul>
<% @items_test.each do |i| %>

  <li>
    <%= i.name %><br>
    [ <%= i.tag_list %> ]
  </li>

<% end %>
</ul>